@media screen and(max-width:768px) {

  #hero {
    background: url("./images/mobile/image-header.jpg") no-repeat center center/cover;

    .logo-navbar {
      padding: 2rem 1.5rem;
      position: relative;

      .navbar {
        background-image: url("./images/icon-hamburger.svg");
        width: 24px;
        height: 18px;

        ul {
          display: none;
        }

        ul.active {
          width: 86%;
          height: 60vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          left: 0;
          background-color: $White;
          margin: 30% 7% 0 7%;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            margin-top: -30px;
            border-top: 17px solid transparent;
            border-bottom: 17px solid $White;
            border-left: 17px solid transparent;
            border-right: 17px solid $White;
          }

          li {
            margin-left: 0;
            margin-top: 1.5rem;

            a {
              color: $Very-dark-grayish-blue;
            }

            a.contact-us {
              background-color: $Yellow;
            }
          }
        }
      }
    }

    .hero-content {

      h1 {
        font-size: 40px;
        padding: 0 2rem;
      }
    }
  }

  section.features {

    .features-section {
      flex-direction: column;

      .image {
        width: 100%;
      }

      .features-content {
        width: 100%;
        padding: 4rem 2rem;
        text-align: center;

        h2 {
          font-size: 30px;
        }

        p {
          line-height: 1.5;
        }

        .bottom-border {
          align-self: center;
        }

        &.transform-content {
          order: 2;
        }
      }
    }

    .graphicDesign-photography {

      .graphicDesign-content {
        background-image: url("./images/mobile/image-graphic-design.jpg");

        p {
          width: 100%;
        }
      }

      .photography-content {
        background-image: url("./images/mobile/image-photography.jpg");

        p {
          width: 100%;
        }
      }
    }
  }

  section.client-testimonials {
    margin: 5rem auto;
    padding: 0 2rem;

    >h3 {
      font-size: 16px;
    }

    .testimonials {
      flex-direction: column;

      .testimonial {

        img {
          margin-top: 3rem;
        }

        p {
          width: 100%;
          font-size: 17px;
          margin-top: 2rem;
        }

        h3 {
          margin-top: 2rem;
          font-size: 18px;
        }
      }
    }
  }

  section.gallery {
    flex-wrap: wrap;

    div {
      width: 50%;
      height: 188px;

      img {
        height: 188px;
      }
    }
  }
}