@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

/* Font Weight */
$font-weight-600:600;
$font-weight-700:700;
$font-weight-900:900;

/* Color */
$Soft-red: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$Dark-desaturated-cyan--graphic-design-text: hsl(167, 40%, 24%);
$Dark-blue--photography-text: hsl(198, 62%, 26%);
$Dark-moderate-cyan--footer: hsl(168, 34%, 41%);

$Very-dark-desaturated-blue: hsl(212, 27%, 19%);
$Very-dark-grayish-blue: hsl(213, 9%, 39%);
$Dark-grayish-blue: hsl(232, 10%, 55%);
$Grayish-blue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
  // font-family: 'Fraunces', serif;
  font-size: 18px;
}

ul {
  display: flex;

  li {
    list-style: none;

    a {
      text-decoration: none;
    }
  }
}

#hero {
  background: url("./images/desktop/image-header.jpg") no-repeat center center/cover;
  height: 100vh;

  .logo-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
    width: 100%;
    max-width: 1440px;

    .logo {
      align-self: center;
    }

    .navbar {

      ul {
        li {
          display: flex;
          align-items: center;
          margin-left: 2.5rem;

          a {
            color: $White;
          }

          a.contact-us {
            color: $Very-dark-desaturated-blue;
            text-transform: uppercase;
            font-family: 'Fraunces', serif;
            background: $White;
            padding: 1.2rem 2rem;
            border-radius: 100vh;
          }
        }
      }
    }
  }

  // .hero-content {}
}