@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
/* Font Weight */
/* Color */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#hero {
  background: url("./images/desktop/image-header.jpg") no-repeat center center/cover;
  height: 100vh;
}

#hero .logo-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  max-width: 1440px;
}

#hero .logo-navbar .logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

#hero .logo-navbar .navbar ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2.5rem;
}

#hero .logo-navbar .navbar ul li a {
  color: white;
}

#hero .logo-navbar .navbar ul li a.contact-us {
  color: #23303e;
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
  background: white;
  padding: 1rem 2rem;
  border-radius: 100vh;
}

#hero .hero-content {
  text-align: center;
}

#hero .hero-content h1 {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: white;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

#hero .hero-content .arrow-down {
  cursor: pointer;
}

section.features .features-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(250, 212, 0, 0.02);
}

section.features .features-section .features-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 28rem;
  margin: 0 auto;
}

section.features .features-section .features-content h2 {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 40px;
  color: #23303e;
}

section.features .features-section .features-content p {
  color: #a7abae;
  margin-top: 2rem;
}

section.features .features-section .features-content .bottom-border {
  margin-top: 2rem;
}

section.features .features-section .features-content .bottom-border a {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  color: #23303e;
  padding-left: 0.5rem;
}

section.features .features-section .features-content.transform-content .bottom-border::after {
  content: "";
  display: block;
  border: 5px solid rgba(250, 212, 0, 0.4);
  width: 7.5rem;
  border-radius: 100vh;
  margin-top: -0.5rem;
}

section.features .features-section .features-content.standOut-content .bottom-border::after {
  content: "";
  display: block;
  border: 5px solid rgba(254, 120, 103, 0.4);
  width: 7.5rem;
  border-radius: 100vh;
  margin-top: -0.5rem;
}
/*# sourceMappingURL=style.css.map */